@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.content {
  display: flex;
  padding-top: 5%;
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
}

.left-side {
  margin-right: 20px;
}

.left-side h1 {
  font-weight: 900;
  font-size: 56px;
  margin-bottom: 30px;
}

.left-side p {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.action-button {
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-block,
.feature,
.feature-header {
  text-align: center;
}

.text-block {
  margin-bottom: 20px;
}

.feature p {
  font-weight: 400;
  font-size: 18px;
}

h1,
.title-description,
.action-description .feature h2,
.feature p,
.navbar a {
  font-family: "Inter", sans-serif;
}

.action-block {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.action-button {
  background-color: #000000;
  color: #ffffff;
  border-radius: 32px;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}

.feature-section,
.custom-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  background-color: #f3f3f3;
}

.action-description {
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  width: 236px;
}

.right-side img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .right-side img {
    min-width: 300px;
  }
}

@media (min-width: 1024px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .text-block,
  .action-block {
    align-items: center;
    text-align: left;
  }

  .left-side {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right-side {
    flex: 2;
    order: 2;
  }

  .right-side img {
    margin-top: 0;
  }
}

@media (max-width: 744px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .right-side img {
    margin-top: 20px;
    width: 100%;
  }

  .action-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .action-button,
  .action-description {
    width: auto;
    margin-right: 0;
    text-align: center;
  }

  .action-description {
    margin-top: 10px;
    width: 100%;
  }
}

.feature-section {
  margin-top: 40px;
}

.black-icon {
  width: 40px;
  height: 40px;
}

.feature {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.feature h2 {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.feature p {
  color: #000000;
  text-align: left;
  width: 100%;
}

@media (max-width: 1024px) {
  .feature-section {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .feature-header {
    justify-content: center;
  }
}

@media (max-width: 744px) {
  .feature-section {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .feature-header {
    justify-content: center;
  }
}

.promo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background-color: #000;
  color: #fff;
}

.promo-image img {
  width: 100%;
}

.promo-text {
  width: 60%;
}

.promo-text h2 {
  font-size: 24px;
  font-weight: 900;
  margin: 20px;
}

.promo-text p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.promo-text li {
  margin-bottom: 15px;
}

.responsive-left {
  margin: 20px;
}

@media (max-width: 744px) {
  .promo-section {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #000;
    color: #fff;
  }

  .promo-image img {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
  }

  .promo-text {
    width: calc(100% - 40px);
    padding: 0 20px;
    text-align: center;
  }

  .promo-text h2 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
  }

  .promo-text p,
  .promo-text ul {
    width: 100%;
    padding: 0;
    margin: 0 0 15px 0;
  }

  .promo-text ul li {
    text-align: center;
    font-size: 14px;
    margin: 10px;
  }
}

.custom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 70px 50px;
  background-color: #000;
  color: white;
}

.custom-footer > div {
  padding: 10px;
}

.footer-columns {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}

.column {
  margin-right: 40px;
}

.subscribe {
  flex: 1;
}

.column h4,
.subscribe h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.subscribe p {
  color: #595959;
}

@media (max-width: 744px) {
  .custom-footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .brand {
    order: -1;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 23%;
  }

  .footer-columns {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .column {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .subscribe {
    order: 1;
    width: 100%;
    text-align: center;
    display: none;
  }
}

.image-with-text {
  position: relative;
  text-align: center;
}

.image-with-text img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  padding: 0 20px;
}

.overlay-text p,
.overlay-text h2,
.overlay-text button {
  margin: 10px 0;
}

.overlay-text p {
  font-weight: 500;
  font-size: 16px;
}

.overlay-text h2 {
  font-weight: 900;
  font-size: 40px;
}

.overlay-text button {
  padding: 10px 20px;
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 24px;
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 768px) {
  .overlay-text h2 {
    font-size: 20px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px 20px;
}
.navbar a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
  font-size: 16px;
}

.menu {
  display: flex;
}
.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.action-button-header {
  background-color: #000000;
  color: #ffffff;
  border-radius: 32px;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}
@media (max-width: 744px) {
  .menu,
  .action-button-header {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

@media (max-width: 320px) {
  .content {
    padding: 20px;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .title-description {
    font-size: 12px;
  }

  .action-button,
  .action-description {
    font-size: 12px;
    padding: 8px 16px;
  }

  .feature-section,
  .promo-section,
  .custom-footer {
    padding: 20px;
  }

  .feature p,
  .promo-text p,
  .column p {
    font-size: 12px;
  }

  .overlay-text h2 {
    font-size: 24px;
  }

  .overlay-text p,
  .overlay-text button {
    font-size: 12px;
  }
}

img,
.right-side img,
.promo-image img {
  max-width: 100%;
  height: auto;
}
