@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  width: 90%;
  padding: 40px;
  box-sizing: border-box;
}

.text-block {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 900;
  font-size: 56px;
  margin-bottom: 30px;
}

.title-description {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
}

.action-block {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.action-button {
  background-color: #000000;
  color: #ffffff;
  border-radius: 32px;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}

.action-description {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  width: 236px;
}

.right-side img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  object-fit: cover;
  min-width: 300px;
}

@media (min-width: 1024px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .text-block,
  .action-block {
    align-items: center;
    text-align: left;
  }

  .left-side {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right-side {
    flex: 2;
    order: 2;
  }

  .right-side img {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .right-side img {
    margin-top: 20px;
    width: 100%;
  }

  .action-block {
    justify-content: center;
    width: 100%;
  }

  .action-description {
    width: 400px;
    text-align: center;
  }

  .action-button {
    margin-bottom: 10px;
  }

  .title-description {
    width: 70%;
    margin-left: 140px;
  }
}

.feature-section {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 40px 50px;
  margin-top: 40px;
}

.black-icon {
  width: 40px;
  height: 40px;
}

.feature {
  flex: 1;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.feature h2 {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.feature p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

@media (max-width: 1024px) {
  .feature-section {
    flex-direction: row;
  }

  .feature {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .feature-header {
    flex-direction: row;
    justify-content: left;
  }
}

.promo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background-color: #000;
  color: #fff;
}

.promo-image img {
  width: 100%;
}

.promo-text {
  width: 60%;
}

.promo-text h2 {
  font-size: 24px;
  font-weight: 900;
  margin: 20px;
}

.promo-text p {
  font-weight: 400;
  font-size: 16px;
}

.responsive-left{
  margin: 20px;
}

@media (max-width: 1024px) {
  .promo-section {
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #000;
    color: #fff;
  }

  .promo-image {
    width: 100%;
    order: 1;
    padding: 40px;
  }

  .promo-text {
    width: 100%;
    order: 2;
    display: flex;
  }

  .promo-text p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .promo-text ul {
    list-style-type: none;
    padding: 0;
  }

  .promo-text ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
